*.dwl
*.dwl2
*.bak
*-bak
*_bak
*.kicad_pcb-bak
*.kicad_sch-bak
*-save.kicad_pcb
*.bck
*.dcm
*.tmp
*~

_autosave-*
*.lck


fp-info-cache


*.kicad_prl
*.kicad_user


*.hotkeys

.DS_Store
.AppleDouble
.LSOverride


._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent